# Async adapter only works within the same process, so for manually triggering cable updates from a console,
# and seeing results in the browser, you must do so from the web console (running inside the dev process),
# not a terminal started via bin/rails console! Add "console" to any action or any ERB template view
# to make the web console appear.

default: &default
  adapter: solid_cable
  connects_to:
    database:
      writing: cable
  # polling_interval in seconds (float allowed)
  polling_interval: 0.1
  # message_retention in seconds (1.day = 86400)
  message_retention: 86400

development:
  <<: *default

test:
  adapter: test

production:
  <<: *default
